# coding=utf-8

import os


ROOT = os.path.dirname(os.path.abspath(__file__))

settings = {
    'STATIC_ROOT': os.path.join(ROOT, 'static'),
    'SECRET_KEY': 'change me',
    'host': '0.0.0.0',
    'port': 1991,
    'debug': True
}

db_settings = {
    'host': '',
    'port': 3306,
    'user': '',
    'password': '',
    'database': '',
    'charset': 'utf8'
}
